body {
    background-color: black;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container {
    background-color: white;
    border: 1px solid white;
    text-align: left;
    margin: 1em auto;
    width: 70%;
}

#container .post {
    min-height: 400px;
    padding: 16px;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background-color: lightblue;
    color: #333;
    font-weight: bold;
    font-size: 22px;
    padding: 1em;
}

#cabecera img {
    width: 50px;
}